<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhotel.steven.jhotel_android_nurhazbiy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/title"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name= ".APIRequest.ApplicationVolley">


        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/signup" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/vacantroomslist" />
        <activity
            android:name=".activities.BuatPesananActivity"
            android:label="@string/registerpesanan" />
    </application>

</manifest>